.EncouragementWrapper{
    position: relative;
    height: 100%;
    width: 30%;
}

.Encouragement{
    top: 0; /* Position Y halfway in */
    left: 50%; /* Position X halfway in */
    transform: translate(-50%, 0);
    position: absolute;
    height: 80%;
    width: 25vw;
    object-fit: contain;
}

@keyframes remove_encouragement {
    from { transform: translate(-50%, 0) rotate(0deg); }
    to { transform: translate(30vw, 100vh) rotate(180deg); }
}


.RemoveEncouragement{

    animation-name: remove_encouragement;
    animation-duration: 1s;
}

@keyframes insert_encouragement{
    from {transform: translate(-50vw, -150vh) rotate(-180deg)}
    to { transform: translate(-50%, 0) rotate(0deg); }
}

.AddEncouragement{
    animation-name: insert_encouragement;
    animation-duration: 2s;
}