@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Henny+Penny&display=swap');

.TopBar2 {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.TopBarButton {
    background: none;
    border: none;
    padding-right: 1rem;
    padding-left: 1rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 40px;
    font-family: "Delius Unicase", cursive;
    font-weight: 700;
    color: black;
}

